@tailwind base;

@tailwind components;

@tailwind utilities;

$blue: blue;
$widthOfBar: 200px;

html, body {
    height: 100%;
    margin: 0;
    height: 0;
    display: flex;
    background: linear-gradient(#e98a00, #f5aa2f); 
}

body {  
    background-color: $blue;
    background-image: url("./hehe.jpg");
    background-repeat: no-repeat;
    background-position: center;

}

.newBar {
    width: $widthOfBar;
    height: 40px;
    background-color: wheat;
}

.autoprefixer-test {
    user-select: auto;
}