@tailwind base;
@tailwind components;

@tailwind utilities;

body {  
    background-color: teal;
    background-image: url("./hehe.jpg");
    background-repeat: no-repeat;
    background-position: center;

  }